# Ignorar archivos de configuración y credenciales
gmapskey.env
*.env

# Ignorar archivos de salida de compilación o dependencias
*.pyc
__pycache__/
node_modules/

# Ignorar archivos de modelos
*.pkl
*.csv

# Ignorar archivos de registro
*.log

# Ignorar configuraciones de editor de código
.vscode/
.idea/
